.gallery{
  height: auto;
    position: relative;
    z-index: 1001;
    background: white;
    margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include desktop{
      padding: 10rem 5rem 10rem 5rem;

    }

 
}
.wrapper{
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.lb-image{
  border: none !important;
}
.lb-outerContainer{
  background-color: none !important;
}
.gallery__img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: .5rem;
  border: .5rem solid white;
  a{
    width: 100%;
    height: 100%;
  }
}
.first{
  width: 40%;
  height: 15rem;
  @include tablet{
    height: 30rem;
    width: 30%;
  }
  @include desktop{
    height: 30rem;
    width: 30%;
  }
  
}
.second{
  width: 60%;
  height: 15rem;
  @include tablet{
    height: 30rem;
    width: 40%;
    
  }
  @include desktop{
    height: 30rem;
    width: 40%;
  }
  
}
.third{
  width: 50%;
  height: 20rem;
  @include tablet{
    height: 30rem;
    width: 30%;
  }
  @include desktop{
    height: 30rem;
    width: 30%;

  }
}
.fourth{
  width: 50%;
  height: 20rem;
  @include tablet{
    height: 40rem;
    width: 40%;
  }
  @include desktop{
    height: 40rem;
    width: 40%;
  }
}
.fifth{
  width: 40%;
  height: 10rem;
  @include tablet{
    height: 40rem;
    width: 35%;
  }
  @include desktop{
    height: 40rem;
    width: 35%;
  }
}
.sixth{
  width: 60%;
  height: 10rem;
  @include tablet{
    height: 40rem;
    width: 25%;
  }
  @include desktop{
    height: 40rem;
    width: 25%;
  }
}
.seventh{
  width: 60%;
  height: 20rem;
  @include tablet{
    height: 40rem;
  }
  @include desktop{
    height: 40rem;
  }
}
.eighth{
  width: 40%;
  height: 20rem;
  @include tablet{
    height: 40rem;
  }
  @include desktop{
    height: 40rem;
  }
}